body {
    margin: 0;
}
html,body,#app{
    height: 100%;
}

:root{
    --theme: #42b983;
}

#app {
    display: flex;
    flex-direction: column;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

a {
    color: var(--theme);
}

.main {
    width: 80%;
    /* min-height: 500px; */
    flex-shrink: 0;
    margin: 2rem auto;
    display: flex;
    /* align-items: center; */
}

.card-con {
    flex: 1;
    filter: drop-shadow(0.5rem 0.5rem 0rem #F3F4F5);
}
.nav{
    margin: 2rem;
}
.side {
    flex: 1;
    text-align: left;
    align-self: flex-start;
    min-width: 0;
}

.card {
    width: 400px;
    height: 250px;
    margin: 2rem auto;
    border-radius: .5rem;
    background: linear-gradient(var(--theme),#2c3e50);
}
.item{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.name{
    font-size: 1.5rem;
    margin-right: 1rem;
    text-transform: capitalize;
}

@media screen and (max-width: 1200px) {
    .main{
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    html{
        font-size: 14px;
    }
    .main{
        flex-direction: column;
        width: auto;
        /* min-height: 0; */
        margin: 0 2rem;
        align-items: stretch;
    }
    .card{
        width: 80%;
    }
    .side{
        align-self: stretch;
    }
}
@media screen and (max-width: 500px) {
    html{
        font-size: 12px;
    }
    .card{
        width: auto;
        height: auto;
        padding-top: 60%;
    }
}
/* [type=range] */
[type=range]{
    display: block;
    -webkit-appearance: none;
    flex: 1;
    outline: 0;
}
[type=range]::-webkit-slider-runnable-track{
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    background: #F3F4F5;
    border-radius: 99rem;
}
[type=range]::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    background: #F3F4F5;
    border-radius: 99rem;
}
[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    background: var(--theme);
    border: 0;
    /* box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    margin-top: -0.5rem;
    transition: .2s;
}
[type=range]::-moz-range-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    background: var(--theme);
    border: 0;
    /* box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    margin-top: -0.5rem;
    transition: .2s;
}
[type=range]:focus::-webkit-slider-thumb{
    box-shadow:  0 0 0 0.25rem rgba(255,255,255,0.6), 0 0 0 0.25rem var(--theme);
}
[type=range]:focus::-moz-range-thumb {
    box-shadow:  0 0 0 0.25rem rgba(255,255,255,0.6), 0 0 0 0.25rem var(--theme);
}
[data-tips] {
    position: relative;
}

[type="range"][data-tips] {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 0 .75rem;
}

[type="range"][data-tips]::-webkit-slider-runnable-track {
    margin: 0 -.75rem;
}

[data-tips]::before,
[data-tips]::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -20px);
    opacity: 0;
    transition: all .15s .15s, left 0s, top 0s;
    color: rgba(0, 0, 0, 0.75);
    visibility: hidden;
    pointer-events: none;
    font-family: Inconsolata,Monaco,Consolas,"Courier New",Courier,monospace;
}

[data-tips]::before {
    content: attr(data-tips);
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    text-align: left;
    background-color: #2c3e50;
    color: #fff;
    font-size: 1.5rem;
    font-style: normal;
    width: max-content;
    max-width: 200px;
    left: calc(var(--percent, .5) * 100%);
    bottom: 100%;
    transform: translate(-50%, -1rem);
}

[data-tips]::after {
    width: 0;
    height: 0;
    overflow: hidden;
    border: 0.5rem solid transparent;
    left: calc(var(--percent, .5) * 100%);
    bottom: 100%;
    transform: translate(-50%, -1rem);
    margin-bottom: -1rem;
    border-top-color: #2c3e50;
}

[data-tips]:not([data-tips*="$"]):hover::before,
[data-tips]:not([data-tips*="$"]):hover::after,
[data-tips]:not([data-tips*="$"]):focus::before,
[data-tips]:not([data-tips*="$"]):focus::after {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -1.5rem);
}
/* type=radio */
[type="radio"] {
    font-size: 100%;
    -webkit-appearance: none;
    display: inline-flex;
    box-sizing: border-box;
    transition: .2s;
    font-size: 1.4rem;
    padding: 0.3em 0.5em;
    background: #F3F4F5;
    cursor: pointer;
    outline: 0;
    margin: 0;
    color: var(--theme);
}

[type="radio"]::before {
    content: attr(value);
}

[type="radio"]:checked {
    color: #fff;
    background-color: var(--theme);
}

[type=radio]:focus{
    box-shadow: 0 0 0 0.25rem rgba(255,255,255,0.6), 0 0 0 0.25rem var(--theme);
    transform: translate(0,0);
}
[type=radio]:first-of-type{
    border-radius: 0.5rem 0 0 0.5rem;
}
[type=radio]:last-of-type{
    border-radius: 0 0.5rem 0.5rem 0;
}
